<header>
  <div class="bg-blue-ligth d-flex py-5 justify-content-between shadow p-3 mb-4">
   <div class="container-fluid">
      <div class="row">
          <div class="col-6 d-flex">
              <div class="to-do px-5 text-white fw-bolder display-5 ">
                  ToDo List
              </div>
              
          </div>
          <div class="col-6 d-flex justify-content-end align-items-center">
              <div>


                  
                      <%= linkTo(usersPath(), {class: "px-5 me-4 text-decoration-none text-white fs-1"}) { %>
                      USERS
                      <% } %>


                      <%= linkTo(tableIncompletePath(), {class: "px-5 me-4  text-decoration-none text-white fs-1"}) { %>
                          TASKS
                          <% } %>


              </div>
             
          </div>
      </div>
  </div>
</div>
</header>
