<div class="container bg-body p-5  ">
  <div class="row ">
      <div class="col-12">

        
        <%= form({action:"/form" , method: "POST"}) { %>
          <div class="row">
          
              <label  class="form-label">Name Task</label>
              <%= f.InputTag({name:"name_task",type: "text", class: "form-control" }) %>
            </div>
            <div class="col-md-12 my-3">
              <label  class="form-label">description</label>
              <%= f.InputTag({name:"description",type: "text", class: "form-control" }) %>
            </div>
            <div class="col-md-12 ">
              <label  class="form-label">create at</label>
              <%= f.InputTag({name:"create_at",type: "text", class: "form-control" }) %>
            </div>
          </div>
        </div>
          <button type="submit" class="btn btn-primary my-4">Send</button>
        <% } %>

      <table class="table">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">agg</th>

            </tr>
          </thead>
          <tbody>
            <tr>

              <td></td>
              <td></td>
              <td></td>
            </tr>
           
          </tbody>
        </table>
  </div>
</div>
