
html, body{
  height: 100% !important;
  background-color: #f8f9fa;
}

.bg-blue-ligth{
  background-color: hsl(195deg 60% 65%) !important;
}

.bg-blue-dark{
  background-color: hsl(204deg 61% 25% ) !important;
}
.text-blue-dark{
  color: hsl(204deg 61% 25% ) !important;
}

.text-blue-ligth{
  color: hsl(195deg 60% 65%) !important;
}

.resize{
  resize: none !important;
}
.h-200px{
  height: 200px !important;
}
.h-600px{
  height: 600px !important;
}

.w-40{
  width: 40% !important;
}
