

<header>
    <div class="bg-blue-ligth d-flex py-5 justify-content-between shadow p-3 mb-4">
     <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex">
                <div class="to-do px-5 text-white fw-bolder display-5 border-3 border-end border-white">
                    ToDo List
                </div>
                <div class="task-incomplate-nav ps-4 d-flex align-items-center text-white">
                    <div class="fs-4" id="cont-task-incomplete">
                     <%= count %> 
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end align-items-center">
                <div>

                    <%= if (underlineIncomplete) { %>
                    
                        <%= linkTo(tableIncompletePath(), {class: "px-5 me-4 text-white fs-3"}) { %>
                        Incomplete Tasks
                        <% } %>
                    <% } else { %>

                        <%= linkTo(tableIncompletePath(), {class: "px-5 me-4  text-decoration-none text-white fs-3"}) { %>
                            Incomplete Tasks
                            <% } %>

                    <% } %>
                </div>
                <div>

                    <%= if (underline) { %>
                        <%= linkTo(tableCompletePath(), {class: "px-5 me-4  text-white fs-3"}) { %>
                            Completed Tasks
                            <% } %>
                      <% } else { %>
                        <%= linkTo(tableCompletePath(), {class: "px-5 me-4  text-decoration-none text-white fs-3"}) { %>
                            Completed Tasks
                            <% } %>
                      <% } %>

                </div>
            </div>
        </div>
    </div>
  </div>
</header>




