<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <script src="https://kit.fontawesome.com/8fae90e41c.js" crossorigin="anonymous"></script>
    <title>Buffalo - To Do App</title>
    <%= stylesheetTag("application.css") %>
    <meta name="csrf-param" content="authenticity_token" />
    <meta name="csrf-token" content="<%= authenticity_token %>" />

  </head>
  <body > 

 

    
      <%= partial("flash.html") %>


        <%= yield %>
      
    <%= javascriptTag("application.js") %>


  </body>
</html>
