

<%= partial("header.html") %>
<%= form({id:"edit", action:editSendPath({task_id: tasks.ID}) , method: "PUT" }) { %>
<div id="form-edit-tasks" class="container bg-white shadow p-4 ">
    <div class="row">
        <div class="col-12 fs-2 fw-bolder mb-5">Edit Task</div>
        <div class="col-12 mb-5">
            <label for="exampleFormControlInput1" class="form-label">Title Task</label>
            <%= f.InputTag({name:"name",type: "text", class: "form-control" , value:tasks.Name}) %>
            <%= if (error) { %>
                <div class="text-center p-1">
                   <%= error %>

                </div>
            <% } %>
        </div>
        <div class="col-12 mb-5">
            <label class="form-label">Description</label>
            <%= f.TextArea({name: "description",type: "text", class: "resize", rows: 10, value:tasks.Description}) %>
        </div>

        <div class="col-12 d-flex justify-content-end">
           
           <a href="/table-incomplete">
            <button id="btn-cancel-edit" type="button" class="btn bg-light fs-4">
                Cancel
            </button>
        </a>
         
            <% } %>
            <button form="edit" type="submit" class="btn bg-blue-ligth fs-4 mx-5 text-white px-4">
                Edit Task
            </button>
        </div>
    </div>
</div>
